<html>
	<head th:replace="~{base :: head(Home)}"></head>
	<body>
		<div th:replace="~{base :: logo}"></div>
	
		<div class="m-5">						
			<!-- TODO GUSTAVO colocar esses class no css e style também o que der. -->
			<!--<div scope="row" th:text="${user.credit.creditValue}"></div>-->
			<div class="card mb-3" style="height: 78.45vh; margin: auto; width: 70%; border: solid 1px black;">
				<div class="m-5">
					<div class="flex float-start border border-dark p-3 text-center" style="width:8em">inicio</div>
					<div id="credits" class="flex float-end border border-dark p-3 text-center" th:text="'Credit: ' + ${user.credit.creditValue}"style="width:8em">Credit</div>
				</div>
				<!-- th:action="@{/slotMachineBusiness/bet}" -->
				<form class="card-body" id="slotMachineDto" th:action="@{/slotMachineBusiness/bet}" th:object="${slotMachineDto}" method="POST">

					<p v-if="errors.length">
						<b>Please fix the following errors:</b>
						<ul>
						  <li v-for="error in errors" class="text-danger">{{ error }}</li>
						</ul>
				  	</p>

					<div id="isWin" class="text-center" hidden>teste</div>
					<!-- //TODO GUSTAVO colocar no css #nomeId ou .nomeClass > div consigo pegar todas dentro dela e não ficar copiando tudo para cada uma -->
					<div class="d-flex justify-content-evenly ">
						<div id="number1" class="col-4 text-center border border-dark" style="padding: 18px; margin: 80px auto 40px auto; height: 10em;width: 10em;">{{gameDto.randomNumbers[0]}}</div>
						<div id="number2" class="col-4 text-center border border-dark" style="padding: 18px; margin: 80px auto 40px auto; height: 10em;width: 10em;">{{gameDto.randomNumbers[1]}}</div>
						<div id="number3" class="col-4 text-center border border-dark" style="padding: 18px; margin: 80px auto 40px auto; height: 10em;width: 10em;">{{gameDto.randomNumbers[2]}}</div>
					</div>
				
					<div class="m-5">
						<div class="flex float-start border border-dark p-2 text-center rounded" style="width:8em">
							<label for="betValue"></label>
							<input id="betValue" v-model="betValue" type="text" name="betValue" class="form-control" placeholder="Bet Value"/>
						</div>
						<div class="flex float-start border border-dark p-2 text-center form-group rounded" style="width:8em">													
							<label for="multiplier">Multiplier</label>
								<select name="multiplier" id="multiplier" v-model="multiplier">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
								</select>
						</div>
						<div class="flex float-end text-center" style="width:8em">
							<button type="button" v-on:click="doBetSlotMachineFunction()"
									class="btn btn-primary">Jogar</button>
						</div>
					</div>


				</form>
			</div>
		</div>

		<script type="text/javascript">
			window.addEventListener("load", onLoad);

			function onLoad() {
				var app = new Vue({
					el: '#slotMachineDto',
					data: {
						gameDto:[],
						errors: [],
						betValue: null,
						multiplier: 1
					},
					mounted() {
						console.log("entrou no mounted")					
						axios
							.get('http://localhost:8080/api/initialVariables')
							.then(response => {
								this.gameDto = response.data;
								console.log(this.gameDto)
							})					
					},
					methods: {
						doBetSlotMachineFunction: function() {
							console.log("entrou no getSlotMachineDtoFunction")
							this.errors = [];						

							if (this.betValue <= 0) {
								this.errors.push('Invalid bet');
								return
							}	
							axios
								.get('http://localhost:8080/api/betSlotMachine' + '?betValue=' + this.betValue + '&multiplier=' + this.multiplier)
								.then(response => {
									this.gameDto = response.data
									setWinOrDefeat(this.gameDto.win)
									updateCredit(this.gameDto.credit)
								})
						}
					}
				})
			}

			function setWinOrDefeat(win) {
				console.log("entrou no setWinOrDefeat")

				let isWin = document.getElementById("isWin")
				let classList = isWin.classList
				if (win == true){
					isWin.removeAttribute("hidden")
					isWin.innerText = "Parabéns, você ganhou"
					classList.add("alert")
					classList.add("alert-success")
				}else{
					isWin.removeAttribute("hidden")
					isWin.innerText = "Você perdeu"					
					classList.add("alert")
					classList.add("alert-danger")
				}		
				setTimeout(function(){
					console.log("slepado")
				}, 2000);
				
			}

			function updateCredit(credit){
				console.log("entrou no update credit")
				console.log(credit)
				document.getElementById("credits").innerText = "Credit: " + credit.toFixed(1)
			}
			
			function teste() {
				console.log("chamou o teste")
			}
		</script>
	</body>


</html>